* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6453a6;
    font-family: 'Roboto', sans-serif;
}

::selection {
    color: #6453a6;
    background-color: #8cbf3f;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    list-style-type: none;
}

nav.desktopNav {
    background-color: rgba(192, 180, 180, 0.514);
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
}

nav.desktopNav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav.desktopNav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    font-family: arial;
    padding: 0;
}

span {
    display: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0;
}

nav.desktopNav ul li img {
    height: 50px;
    display: block;
}

nav.desktopNav ul li.hover:hover {
    background-color: #6453a6;
}

nav.mobileNav {
    width: 33vw;
    height: 100vh;
    display: none;
    background-color: #f2f2f2df;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.mobileNav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileNav ul li {
    display: flex;
    align-items: center;
    height: 25vh;
}

.mobileNav ul li a {
    text-align: center;
    color: #8cbf3f;
    padding: 105px;
}

.container-fluid {
    padding: 0;
    margin-top: 50px;
}

.content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.float-left {
    float: left;
    height: 400px;
    width: 500px;
    margin-right: 5px;
}

.float-left-mayor {
    float: left;
    height: 400px;
    width: 500px;
    margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pattaya';
}

p {
    line-height: 2;
    font-size: 1.4em;
    font-weight: 400;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Pattaya';
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -01;
    height: 30px;
    overflow: hidden;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

@media (max-width:780px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .desktopNav {
        display: none;
    }

    span {
        display: flex;
        position: fixed;
        z-index: 100;
        top: 0;
        background-color: #f2f2f28f;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container-fluid {
        margin-top: 50px;
    }

    .content {
        position: relative;
        z-index: 0;
    }

    span:hover+.mobileNav {
        display: block;
    }

    .mobileNav:hover {
        display: block;
    }

    p {
        line-height: 1.5;
        font-size: 0.5em;
        text-align: left;
        color: #dacc85;
        padding: 2px;
    }

    .tradition ul li {
        list-style-type: none;
    }

    .float-left {
        float: left;
        height: 200px;
        width: 200px;
        margin-right: 5px;
    }

    .float-left-mayor {
        float: left;
        height: 150px;
        width: 200px;
        margin-right: 5px;
    }

    .footer {
        background-color: black;
        text-align: center;
        color: white;
        font-family: 'Pattaya';
        font-size: 0.5em;
        font-weight: 800;
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 30px;
        overflow: hidden;
    }

    .footer ul {
        padding-left: 0px;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
}